* {
  box-sizing: border-box;
}

/* Make the image to responsive */
.topContentImage {
  float: right;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 400px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#workshopcard {
  max-width: 100%;
  height: auto;
  position: relative;
}

/* When you mouse over the container, fade in the overlay title */
#workshopcard:hover .overlay {
  opacity: 1;
}

.workshopInfo {
  width: 400px;
}

@media screen and (max-width: 400px) {
  .topContentImage {
    width: 300px;
    height: 300px;
  }
  .overlay {
    width: 300px !important;
  }

  .workshopInfo {
    width: 300px !important;
  }
}
